<div class="white-overlay"></div>
<div class="step-page">
    <div class="main-container-steps clearfix">
      <div class="step-title">Step 1</div>
      <div class="step-subtitle">Tell us who you are.</div>
      <div class="form-container">
        <form action="/submission/step1" method="POST" class="submission-form">
          <div class="inputs-container">
            <% if(typeof err !== 'undefined' && err) { %>
            <div class="errors">
              <ul>
                <% Object.keys(err.invalidAttributes).forEach(function(attribute, index) { %>
                  <% if(attribute == "email") { %>
                  <li><%= attribute %> is not correct.</li>
                  <% } %>
                  <% if(attribute == "blog") { %>
                  <li><%= attribute %> url is not a valid url.</li>
                  <% } %>
                  <% if(attribute == "first_name") { %>
                  <li>First name is required.</li>
                  <% } %>
                  <% if(attribute == "last_name") { %>
                  <li>Last name is required.</li>
                  <% } %>
                <% }) %>
              </ul>
            </div>
            <% } %>
            <div class="required-label">Required*</div>
            <div class="form-label">First Name<span class="required-symbol">*</span></div><input class="submission-input long-input" required type="text" name="Submission[first_name]" value="<%=(typeof values.first_name !== 'undefined' && values.first_name) ? values.first_name:'' %>">
            <div class="form-label facebook-icon">Facebook</div><input class="submission-input" type="text" name="Submission[facebook]" value="<%=(typeof values.facebook !== 'undefined' && values.facebook) ? values.facebook:'' %>">
            <div class="form-label">Last Name<span class="required-symbol">*</span></div><input class="submission-input long-input" required type="text" name="Submission[last_name]" value="<%=(typeof values.last_name !== 'undefined' && values.last_name) ? values.last_name:'' %>">
            <div class="form-label pinterest-icon">Pinterest</div><input class="submission-input" type="text" name="Submission[pinterest]" value="<%=(typeof values.pinterest !== 'undefined' && values.pinterest) ? values.pinterest:'' %>">
            <div class="form-label">Blog Url<span class="required-symbol">*</span></div><input class="submission-input long-input" required type="url" name="Submission[blog]" value="<%=(typeof values.blog !== 'undefined' && values.blog) ? values.blog:'' %>">
            <div class="form-label twitter-icon">Twitter</div><input class="submission-input" type="text" name="Submission[twitter]" value="<%=(typeof values.twitter !== 'undefined' && values.twitter) ? values.twitter:'' %>">
            <div class="form-label">Email Address<span class="required-symbol">*</span></div><input class="submission-input long-input" required type="email" name="Submission[email]" value="<%=(typeof values.email !== 'undefined' && values.email) ? values.email:'' %>">
          </div>
          <div class="comscore-first-text">Complete comScore's Traffic Assignment Letter (TAL)</div>
          <div class="comscore-second-text">TALs are used to measure your site audience as part of the qualified audience for The Daily Meal. Your traffic will be untouched within your Google Analytics account or other analytics measurement tool. Your traffic is your traffic.
            <a href="http://direct.comscore.com/tal.aspx?type=tal&q=ikwjT6ersUJAx8YS6XoPsA" target="blank">Click here to complete comScore's Traffic Assignment Letter (TAL)</a>
          </div>
          <div class="last-text-container">
            <div>You will be asked to provide this access code:</div>
            <input class="comscore-code" value="bTklZAHAv15GvILw8wZAg" readonly>
            <div>Please cut and paste this code when prompted</div>
            <input type="submit" class="button" value="Continue">
          </div>
        </form>
      </div>
    </div>
</div>